body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E3EAEF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cover {
    object-fit: cover;
}

.header .container {
  padding: 10rem;
  color: white;
  font-size: 1.5rem;
}

.button {
  margin: .75rem 0 0 0;
  padding: .75rem 2rem .75rem 2rem;
  background-color: transparent;
  color: white;
  border: .25rem solid white;
  font-size: 1.15rem;
  min-width: 15rem;
}